<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1-pre">
    <test name="TestDemo">
        <classes>
            <class name="demo.DemoTest">
                <methods>
                    <include name="baiduSearchTest" />
                    <include name="sougouSearchTest" />
                </methods>
            </class>
        </classes>
    </test>
</suite>